@tailwind base;
@tailwind components;
@tailwind utilities;
.active{
    background-color: rgb(31, 31, 243);
    border: 1px solid blue;
    color: white;
    width: 100%;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 5px;
    font-weight: 600;
}